.postPage
  .postPage__contents
    = form_with model: @item, url: "/posts", class: "item-", local: true do |f|
      .image
        .image__box 料理画像
      .menu
        .menuName メニュー名
        .menuName__box
          = f.text_field :name, class: "menuName__box__input"
      .genre 
        .genreName ジャンル名
        .genreName__box
          = f.text_field :name, class: "genreName__box__input"
      .recipe 
        .recipeContents レシピ内容
        .recipe__box
          = f.text_area :name, class: "recipe__box__input"
      .postBtn
        = f.submit "投稿", class: "postBtn__submit"